PROJECT_NAME= "PDF Chatbot API"
PROJECT_DESCRIPTION= "A FastAPI application that allows users to upload PDF documents and interact with them using OpenAI's language models. The application provides endpoints for uploading PDFs, asking questions about the content, and retrieving answers based on the uploaded documents."
PROJECT_VERSION= "1.0.0"
VERSION= "1.0.0"
ENVIRONMENT= "development"
DEBUG= "true"
LOG_LEVEL= "INFO"

API_V1_STR= "/api/v1"

DOCS_ENABLED= "true"
DOC_ROOT_USERNAME= "admin"
DOC_ROOT_PASSWORD= "docs-password"
